{% extends "ilivehere/base.html" %}

{% block sub_title %}
  Approve
{% endblock sub_title %}

{% block sub_heading %}
  Approve
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1">
      <form action="" method="post">{% csrf_token %}
        <p>
          Are you sure you want to approve this story?
          <br />
          <a href="{% url 'ilivehere.story.detail' story.pk %}">
            <strong>{{ story.title }}</strong>
          </a>
        </p>
        <input type="submit" value="Confirm" class="pure-button pure-button-primary" />
      </form>
    </div>
  </div>
{% endblock content %}
