{% extends "ilivehere/base.html" %}

{% load thumbnail %}

{% block sub_title %}
  News story
{% endblock sub_title %}

{% block sub_heading %}
  {{ story.title }}</p>
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1">
      {% if user.is_staff %}
        {% if not story.moderated %}
          <div class="pure-menu pure-menu-open pure-menu-horizontal">
            <ul>
              <li>
                <a href="{% url 'ilivehere.story.moderate' story.pk %}">
                  <i class="icon-thumbs-up"></i>
                  Publish
                </a>
              </li>
            </ul>
          </div>
        {% endif %}
      {% endif %}
      <table class="pure-table pure-table-bordered">
        <tbody>
          <tr>
            <td>Title</td>
            <td>
              <a href="{% url "ilivehere.story.update" story.pk %}">
                <i class="icon-edit"></i>
                {{ story.title }}
              </a>
            </td>
          </tr>
          {% if story.moderated %}
            <tr>
              <td>Moderated</td>
              <td>
                {{ story.user_moderated }}
                <small>on {{ story.date_moderated|date:"l d/m/y H:i" }}</small>
              </td>
            </tr>
          {% endif %}
          <tr>
            <td>Author</td>
            <td>{{ story.author }}</td>
          </tr>
          <tr>
            <td>Created</td>
            <td>{{ story.created|date:"l d/m/y H:i" }}</td>
          </tr>
          <tr>
            <td>Area</td>
            <td>{{ story.area.name }}</td>
          </tr>
        </tbody>
      </table>
      <br />
      {{ story.description }}
      {% if story.picture %}
        <br />
        <br />
        thumbnail
        <br />
        <img src="{% thumbnail story.picture 100x100 crop %}" />
        <br />
        picture
        <br />
        <img src="{{ story.picture.url }}" />
      {% endif %}
    </div>
  </div>
{% endblock content %}
