{% extends "ilivehere/base.html" %}

{% block sub_title %}
  Update a news story
{% endblock sub_title %}

{% block sub_heading %}
  Update a news story
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1">
      <p>
        Created by {{ story.author }}
        {% if story.email %}
          {{ story.email|urlize }}
        {% endif %}
        <small>
        on {{ story.created|date:"l d/m/y H:i" }}
        </small>
      </p>
      {% include '_form.html' with legend='News' %}
    </div>
  </div>
{% endblock content %}
