{% extends "ilivehere/base.html" %}

{% block title %}
  News stories
{% endblock title %}

{% block sub_heading %}
  News stories
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Author</th>
            <th>Area</th>
            <th>Title</th>
            <th>Moderated</th>
          </tr>
        </thead>
        <tbody>
          {% for story in story_list %}
            <tr valign="top">
              <td>
                <a href="{% url "ilivehere.story.update" story.pk %}">
                  <i class="icon-edit"></i>
                  {{ story.pk }}
                </a>
              </td>
              <td>
                {{ story.author }}
                <small>on {{ story.created|date:"d/m/Y" }}</small>
              </td>
              <td>{{ story.area.name }}</td>
              <td>
                <a href="{% url 'ilivehere.story.detail' story.pk %}">
                  {{ story.title }}
                </a>
              </td>
              <td>
                {% if story.moderated %}
                  <i class="icon-check"></i>
                {% else %}
                  <i class="icon-check-empty"></i>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
