{% extends "story/base.html" %}

{% load thumbnail %}

{% block sub_title %}
  News story
{% endblock sub_title %}

{% block sub_heading %}
  {{ story.title }}</p>
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
          <li>
            <a href="{% url 'story.list' %}">
              <i class="fa fa-list"></i>
              Stories
            </a>
          </li>
          <li>
            {% if story.published %}
              <a href="{% url 'story.reject' story.pk %}">
                <i class="fa fa-thumbs-o-down"></i>
                Reject
              </a>
            {% else %}
              <a href="{% url 'story.publish' story.pk %}">
                <i class="fa fa-thumbs-o-up"></i>
                Publish
              </a>
            {% endif %}
          </li>
        </ul>
      </div>
      <table class="pure-table pure-table-bordered">
        <tbody>
          <tr>
            <td>Title</td>
            <td>
              {% if user_can_edit %}
                <a href="{% url "story.update" story.pk %}">
                  <i class="fa fa-edit"></i>
                  {{ story.title }}
                </a>
              {% else %}
                {{ story.title }}
              {% endif %}
            </td>
          </tr>
          {% if story.published %}
            <tr>
              <td>Published</td>
              <td>
                {{ story.user_moderated }}
                <small>on {{ story.date_moderated|date:"l d/m/y H:i" }}</small>
              </td>
            </tr>
          {% endif %}
          {% if story.rejected %}
            <tr>
              <td>
                <strong>Rejected</strong>
              </td>
              <td>
                {{ story.user_moderated }}
                <small>on {{ story.date_moderated|date:"l d/m/y H:i" }}</small>
              </td>
            </tr>
          {% endif %}
          <tr>
            <td>Author</td>
            <td>{{ story.author }}</td>
          </tr>
          <tr>
            <td>Created</td>
            <td>{{ story.created|date:"l d/m/y H:i" }}</td>
          </tr>
          <tr>
            <td>Area</td>
            <td>{{ story.area.name }}</td>
          </tr>
        </tbody>
      </table>
      <br />
      {{ story.description }}
      {% if story.picture %}
        <br />
        <br />
        thumbnail
        <br />
        <img src="{% thumbnail story.picture 100x100 crop %}" />
        <br />
        picture
        <br />
        <img src="{{ story.picture.url }}" />
      {% endif %}
    </div>
  </div>
{% endblock content %}
